.mobile {
 max-width:1000px;
 margin:0px auto;
 position:relative;
}
    
.mer-mat{
    width:100%;
}

.mobileAside {
    width:100%;
    display:block;
}

.mobileAbout {
    width:auto;
    display:block;
    margin:25px 0px;
}
.columnA, .columnB, columnC {
    width:auto;
    margin:1% auto;
}

.columnA h2, .columnB h2, columnC h2 {
    font-size:3em;
}

@media screen and (max-width:100px) {
    nav ul {
        display:none;
    }
    lable{
        display:block;
        background-color:#0000FF;
        width:40px;
        height:40px;
        cursor:wait;
        position:absolute;
        right:20px;
        top:18px;
        border-radius:4px 4px 0px 0px;
        
        color:#FF0000;
        font-size:0.7em;
        text-align:center;
    }
}
